@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #fafafa;
}

.Toastify__toast {
  min-height: 3rem !important;
}

.Toastify__toast-body {
  font-size: 0.85rem !important;
}

@layer components {
  .btn-add {
    @apply items-center w-full px-5 py-2 mt-1 text-white bg-blue-500 rounded hover:cursor-pointer;
  }
  .btn-follow {
    @apply w-full p-2 mx-auto text-white bg-gray-800 rounded hover:cursor-pointer;
  }
  .btn-unfollow {
    @apply w-full p-2 mx-auto text-white bg-blue-500 rounded hover:cursor-pointer;
  }
  .inputs {
    @apply block w-full p-3 mt-1 text-sm text-gray-700 transition ease-in-out border border-gray-400 border-solid rounded md:w-full bg-gray-50 focus:text-gray-700 focus:bg-white focus:border-gray-900 focus:outline-none;
  }
  .eyeStyle {
    @apply w-5 h-5 text-gray-500;
  }
  .eyeStyleAccount {
    @apply w-4 h-4 text-gray-400;
  }
  .profile {
    @apply inline object-cover p-1 m-3 rounded-full w-36 h-36 bg-gradient-to-b from-red-600 via-purple-600 to-pink-700;
  }
  .stat-text {
    @apply w-full p-5 text-xs italic font-semibold tracking-widest text-center underline underline-offset-2 decoration-blue-500;
  }
}